# Production settings
SECRET_KEY=super-secret
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/mrhost
ACCESS_TOKEN_EXPIRE_MINUTES=60
QR_TOKEN_EXPIRE_MINUTES=1440
JWT_ALGORITHM=HS256
OPENROUTER_API_KEY=
OPENROUTER_TRANSLATION_MODEL=openai/gpt-4.1-mini
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
